$color-primary-0: #2962ff;
$color-primary-1: #7c9ffe;
$color-primary-2: #5281ff;
$color-primary-3: #0e4fff;
$color-primary-4: #013ad5;
$color-primary-5: #3064f4;
$color-primary-6: #0e4dfa;
$color-primary-7: #012ca0;
$color-primary-8: #01227d;
$color-primary-9: #0638c1;
$color-primary-10: #032b99;
$color-primary-11: #011a60;
$color-primary-12: #00113d;
$color-primary-13: #343d64;
$color-primary-14: #00237b;
$color-primary-15: #001b5d;
$color-primary-16: #000614;
$color-primary-17: #000000;
$color-primary-18: #e4e4bc;
$color-primary-20: #ffffb3;
$color-primary-21: #d9d959;
$color-primary-22: #b8b831;
$color-primary-23: #ffe2a9;
$color-primary-24: #fff7e8;
$color-primary-25: #ffedcb;
$color-primary-26: #d7b46d;
$color-primary-27: #aa8438;
$color-primary-28: #ffff00;
$color-primary-29: #ffff64;
$color-primary-30: #ffff39;
$color-primary-31: #c6c600;
$color-primary-32: #9b9b00;
$color-primary-33: #6f7899;
$color-primary-34: #4b557d;
$color-primary-35: #202a53;
$color-primary-36: #0f173a;
$color-primary-37: #ffffed;
$color-primary-38: #ffffd3;
$color-primary-39: #d8d877;
$color-primary-40: #aeae42;
$color-primary-41: #c9ccd8;
$color-primary-42: #979eb5;
$color-primary-43: #4d5881;
$color-primary-44: #333f69;
$color-primary-45: #dde6ff;
$color-primary-46: #a5bdfe;
$color-primary-47: #5683fc;
$color-primary-48: #2f64f6;
$color-primary-49: #ffffff;
$color-primary-50: #d7e2ff;
$color-primary-51: #7c9ffc;
$color-primary-52: #5681f4;
$color-primary-53: #4d5780;
$color-primary-54: #333d65;
$color-primary-55: #10183b;
$color-primary-56: #040a23;
$color-primary-57: #8d9ad1;
$color-primary-58: #99a7e2;
$color-primary-58: #ceb3f7;
$color-primary-58: #cbb1f3;
$color-primary-58: #62adf3c9;
$color-primary-58: #7ebbbb;
$color-primary-58: #68b9b9;
$color-primary-58: #43a7a7;
$color-primary-58: #43a7a7;
$color-primary-1: #A3E3E3;
$color-primary-2: #6CC6C6;
$color-primary-3: #289090;
$color-primary-4: #0F8080;
$color-primary-1: #469F9F;
$color-primary-2: #298C8C;
$color-primary-3: #066767;
$color-primary-4: #004F4F;
$color-primary-1: #147878;
$color-primary-2: #076363;
$color-primary-3: #003939;
$color-primary-4: #002020;
$color-primary-1: #D6D6FA;
$color-primary-2: #A7A7EE;
$color-primary-3: #5C5CC9;
$color-primary-4: #3E3EB1;
$color-primary-1: #6D7D99;
$color-primary-2: #485B7D;
$color-primary-3: #1E3053;
$color-primary-4: #0C1C39;
$color-primary-1: #F8FBFF;
$color-primary-2: #C7DBF9;
$color-primary-3: #719CDD;
$color-primary-4: #4D7DC3;
$color-primary-1: #CEE0FA;
$color-primary-2: #9BBCED;
$color-primary-3: #4E7FC8;
$color-primary-4: #3063B0;
$color-primary-1: #A2C0EC;
$color-primary-2: #729CDB;
$color-primary-3: #3066B6;
$color-primary-4: #0F4BA2;
$color-primary-1: #72C6C6;
$color-primary-2: #43A4A4;
$color-primary-3: #0E8585;
$color-primary-4: #066666;
$color-primary-1: #A4E2E2;
$color-primary-2: #6DC5C5;
$color-primary-3: #298E8E;
$color-primary-4: #117D7D;
// "foreground": "#dda2f6"
// "foreground": "#a571f4"
// "foreground": "#a571f4"
// "foreground": "#7e7edd"
// "foreground": "#85b1e0"
// #a5bdfe
// #6DCAEC
// #95B8E9
// #4C638A
// #F9FAFA
// #CBDAEC
// #77bbbb
// #ddeeff
// #5577aa
// #9999bb
// #99bbee
// #223344
// #336666
#336666
