@import 'test.styl'

$body = #333
headColor = #1234af
test = 10px;

h1, body
  font-family arial


set-font-size(value) {
    font-size: value; /* add PX (or original value) as backup */
    if (value is inherit) {
        /* do nothing, "inherit" has no unit */
    } else {
        font-size: remify(value);
    }
}

remify(value, baseFontSize = 16) { /* separate mixin, so it can be used elsewhere */
    u = unit(value);

    if (u is 'px') {
        return unit(value/baseFontSize, 'rem');
    } else {
        return unit(value, u);
    }
}

h1, p, table
  background-color #CCC
  border 1px solid
  color #39F
  text-align center
  width 100%

.addon-store .pagehead h1
  display inline-block

.addon-store .addon-summary:after
  clear: both

#addon-store .pagehead .electrocat-small
  bottom -7px
  position absolute
  right 0

.addon-store .developer-callout
  background-color #f1f1f1
  background-image -moz-linear-gradient(#fafafa, #f1f1f1)
  background-image -webkit-linear-gradient(#fafafa, #f1f1f1)
  background-image linear-gradient(#fafafa, #f1f1f1)
  background-repeat repeat-x
  border 1px solid #ddd
  border-bottom 1px solid #ccc
  border-radius 3px
  box-shadow inset 0 1px 0 #fff, 0 1px 5px #f1f1f1
  margin-top 40px
  text-shadow 0 1px 0 #fff
  &:hover
    test
  &:before
    color green
  &:after
    color blue
  > div
    color red
